<div class="side-nav">
    <h3>Instagram</h3>
    <h5 class="controls"><i class="ri-home-line me-3"></i><a href="/home">Home</a></h5>
    <h5 class="controls"><i class="ri-search-line me-3"></i><a href="/search">search</a></h5>
    <h5 class="controls"><i class="ri-compass-3-fill me-3"></i><a href="/explore">Explore</a></h5>
    <h5 class="controls"><i class="ri-messenger-line me-3"></i><a href="/notification">Notification</a></h5>
    <h5 class="controls"><i class="ri-add-box-line me-3"></i><a href="/create">Create</a></h5>
    <h5 class="controls"><img src="https://i.pinimg.com/550x/0c/d2/ce/0cd2ce58059ee1e3c0337458821dabf2.jpg" alt=""><a href="/profile">Profile</a></h5>

    <h5 class="controls"><i class="ri-logout-circle-line me-3"></i><a href="/logout">Logout</a></h5>
    
</div>