<%- include("partials/header")%>
  <div id="main">
    <form action="/change-password/<%= id%>" method="post">
      <div class="loginpage">
        <div class="box py-3 form-control  text-center">
          <h3>Change Password</h3>
          <input class="form-control border border-dark my-2" type="password" placeholder="*******" name="password">
          <button class="btn btn-primary w-100">Save</button>
          <hr>
  OR
  <br>
  <p>Remember your password???</p>
  <a href="/">Login</a>

        </div>

      </div>
    </form>
  </div>
  <%- include("partials/footer")%>